html {
    background:gray;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 35px;
    padding: 35px;
    color: #242424;
    background:whitesmoke; 
}
 
h1 {
    font-size: 2.5em;
    margin: 0;
    
}

p {
    line-height: 1.5em;
}

.navigator {
    position: sticky;
    top: 0;
    background: white;
    border: 4px solid black;
    text-align: center;
    font-size: 1.5em;
}

#blogs {
    border-top: 3px dotted #ccc;
    display: flex;
}

.blog-post {
    border-bottom: 3px dotted #ccc;
}

#table {
    border: 3px solid black;
    font-size: 1.25em;
    line-height: 2.5em;
    height: 375px;
    padding: 25px;
}

#contact-form {
    line-height: 3em;
    font-size: 1.05em;
    margin: 0;
}

#form { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    color: crimson;
    border: 1.5px solid black;
    margin: 3px;
    text-align: center;
}

.space-image {
    float:right;
    font-size: small;
    margin-right: 250px;
    width: 200px;
    height: 150px;
    display: flex;
}
.space-text {
    margin-left: 15px;
}

h2:nth-of-type(1) {
    text-align: center;
}

.Biography {
    line-height: 1.5em;
}
body[rel="index"] {
    border-top: 10px solid black;
}
body[rel="bio"] {
    border-top: 10px solid green;
}
body[rel="contact"] {
    border-top: 10px solid blue;
}
a[href="https://facebook.com/Andrew_ruf"] {
    color: red;
}

@media (max-width: 700px) {
    #blogs {
        display: inline;
    }
    #table {
        display: inline;
    }
    #form {
        display: inline;
    }
    #contact-form {
        display: inline;
    }
    .biography {
        display: inline;
    }
}    
